<%= render 'layouts/app_navigation' %>
<div class="container">
<section>
  <%= form_tag(mechanics_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Mechanics" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
  
</section>


<section>
    <% if @mechanics.empty? %>
      There's no mechanics to show.
    <% end %>
    <% @mechanics.each do |mechanic| %>
    <div class="row">
      <div class="col-md-4 mechanic-overview">
        <div class="col-md-6">
          <h3 class="text-center">Name: <%=  mechanic.user.present? ? mechanic.user.name : "" %></h3>
          <h4 class="text-left">Email: <%=  mechanic.user.present? ? mechanic.user.email : "" %></h4>
          <h4 class="text-left">Bio: <%= mechanic.bio %></h4>
          <h4 class="text-left">Kind: <%= mechanic.kind %></h4>
          <h4 class="text-left">Company: <%= mechanic.company %></h4>
          <h4 class="text-left">Address: <%= mechanic.address %></h4>
          <h4 class="text-left">City: <%= mechanic.city %></h4>
          <h4 class="text-left">State: <%= mechanic.state %></h4>
          <h4 class="text-left">Zip: <%= mechanic.zip %></h4>
          <h4 class="text-left">Speciality: <%= mechanic.speciality %></h4>
          <h4 class="text-left">Approved: <%= mechanic.approved ? "Yes" : "No" %></h4>
        </div>
        <div class="col-md-6">
          <span class="mechanic-price"></span>
          <%= link_to 'Show', mechanic %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

