<body class="app-page"></body>
<%= render 'layouts/app_navigation' %>
<div class="container">
<section class="mechanic-search">
  <p>You can search for a mechanic either by their Zip code or by their vehicle speciality</p>
  <%= form_tag(mechanics_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Mechanics" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
  
</section>


<section>
  <h1 class="text-center mechanic-page-title">All Mechanics</h1>
    <% if @mechanics.empty? %>
      There's no mechanics to show.
    <% end %>
    <% @mechanics.each do |mechanic| %>
    <div class="row">
      <div class="col-md-4 mechanic-overview">
          <div class="col-md-8">
            <%= link_to 'View Mechanic', mechanic, class: "scroll btn btn-coffee btn-border btn-large mt-20 text-center" %>
          </div>
          <div class="col-md-4">
            <span class="mechanic-price">$<%= mechanic.price %></span>
          </div>
          <div class="col-md-12 mechanic-brief-section">
            <span class="mechanic-name"><%=  mechanic.user.present? ? mechanic.user.name : "" %></span>
            <h4 class="text-left">Company: <%= mechanic.company %></h4>
            <h4 class="text-left">Zip: <%= mechanic.zip %></h4>
            <h4 class="text-left">Speciality: <%= mechanic.speciality %></h4>
          </div>
        
        
      </div>
      
      <% end %>
    </div>
  </div>
</section>

</div>  


<%= render 'layouts/footer' %>
</body>




