<%= simple_form_for [@mechanic, @inspection], html: { id: 'create-inspection-form' } do |f| %>
  <%= @inspection.errors.first %>
  <%= f.error_notification %>
  
  <%= f.input :card_number, label: 'Card Number', input_html: { placeholder: 'Card Number', data: {'braintree-name' => 'number'} } %>

  <%= f.input :card_cvv, as: :password, label: 'CVV Number', input_html: { placeholder: 'CVV', data: {'braintree-name' => 'cvv'} } %>
  <%= f.input :card_month, label: 'Month', input_html: { placeholder: 'Month', data: {'braintree-name' => 'expiration_month'} } %>

  <%= f.input :card_year, label: 'Year', input_html: { placeholder: 'Year', data: {'braintree-name' => 'expiration_year'} } %>

  <%= f.input :location %>
  <%= f.input :vehicle_year %>
  <%= f.input :vehicle_make %>
  <%= f.input :vehicle_model %>
  <%= f.input :your_name %>
  <%= f.input :your_address %>
  <%= f.input :your_phone %>
  <%= f.input :your_email %>
  <%= f.input :seller_name %>
  <%= f.input :seller_address %>
  <%= f.input :seller_phone %>
  <%= f.input :seller_email %>

  <div class="form-actions">
    <%= f.button :submit, 'Charge' %>
  </div>
<% end %>