<%= render 'layouts/app_navigation' %>
<section>
  <div class="container">
    <%= simple_form_for(@inspection) do |f| %>
      <div class="row">
        <div class="col-md-12">
          <%= f.error_notification %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-left">Buyer Info</h3>
          <div class="form-inputs">
            
            <span>Your Phone</span>
            <span>Your Email</span>
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="text-left">Vehicle Info</h3>
          <div class="form-inputs">
            <span>Vehicle Year</span>
            <%= f.input :vehicle_year,  as: :select_picker, collection: [*1960..2016] %>
            <span>Vehicle Make</span>
            <%= f.input :vehicle_make,  as: :select_picker, collection: Edmunds::Make.new.find_all.map { |user| user['name'] } %>
            <span>Vehicle Model</span>
            <% vehicle_models = [] %>
            <% Edmunds::Make.new.find_all.map do |auto| %>
              <% auto['models'].map do |model| %>
                <% vehicle_models << model['name'] %>
              <% end %>
            <% end %>
            <%= f.input :vehicle_model, as: :select_picker, collection: vehicle_models %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-left">Inspection Info</h3>
          <div class="form-inputs">
            <span>Seller Name</span>
            <span>Inspection Location</span>
            <%= f.input :location %>
            <span>Inspection Date</span>
            <%= f.input :date %>
            <span>Inspection Time</span>
            <%= f.input :time %>
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="text-left">Payment</h3>
          <div class="form-inputs">
            <span>Mechanic Rate</span>
            <span>Button for confirm and pay</span>
            <div class="form-actions">
              <%= f.button :submit %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
