<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "inspectX - Pre-Purchase Inspections. Re-Invented." %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "inspectX" %>">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,100,700%7Dosis:400,500" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!--JS sctipts-->
    <script src="assets/jquery-2.1.3.min.js"></script>
    <script src="assets/smoothscroll.js"></script>
    <script src="assets/plagins.js"></script>
    <script src="assets/owl.carousel.min.js"></script>
    <script src="assets/isotope.pkgd.min.js"></script>
    
    <script src="assets/jquery.ajaxchimp.min.js"></script>
    <script src="assets/jquery.magnific-popup.min.js"></script>
    <script src="assets/jquery.fitvids.js"></script>
    <script src="assets/main.js"></script>
    <script src="assets/jquery.ajaxchimp.min.js"></script>
    <script src="assets/contact-form.js"></script>
    <%= csrf_meta_tags %>
  </head>


       <%= render 'layouts/messages' %>
       <%= yield %>

</html>
